<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus>
	</header>
	<section class="main" class="<%= length === 0 ? 'hidden' : '' %>">
		<input class="toggle-all" type="checkbox" <%= nActive === 0 ? 'checked' : '' %>>
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list"></ul>
	</section>
	<footer class="footer" class="<%= length === 0 ? 'hidden' : '' %>">
		<span class="todo-count">
			<strong><%= nActive %></strong> <%= 'item' + (nActive === 1 ? '' : 's') + ' left' %>
		</span>
		<ul class="filters">
			<li><a href="#/" class="<%= route === '' ? 'selected' : '' %>">All</a></li>
			<li><a href="#/active" class="<%= route === 'active' ? 'selected' : '' %>">Active</a></li>
			<li><a href="#/completed" class="<%= route === 'completed' ? 'selected' : '' %>">Completed</a></li>
		</ul>
		<button class="clear-completed" class="<%= nCompleted === 0 ? 'hidden' : '' %>">
			Clear completed
		</button>
	</footer>
</section>
